@model IEnumerable<TodoListAz.Models.ToDo>

@{
    ViewData["Title"] = "ToDo List";
}

<h1>To Do List</h1>
<h4>Create ToDo item to add to the list</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.todoItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.todoItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.todoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.todoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.todoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
